In [2]:
import pandas as pd

In [11]:
df1=pd.read_csv("APPL.csv")
print(df1)

            Date        Open        High         Low       Close     Volume  \
0     2017-01-23  120.000000  120.809998  119.769997  120.080002   21131400
1     2017-01-20  120.449997  120.449997  119.730003  120.000000   29479900
2     2017-01-19  119.400002  120.089996  119.370003  119.779999   25295700
3     2017-01-18  120.000000  120.500000  119.709999  119.989998   23644700
4     2017-01-17  118.339996  120.239998  118.220001  120.000000   34078600
5     2017-01-13  119.110001  119.620003  118.809998  119.040001   25938300
6     2017-01-12  118.900002  119.300003  118.209999  119.250000   27002400
7     2017-01-11  118.739998  119.930000  118.599998  119.750000   27418600
8     2017-01-10  118.769997  119.379997  118.300003  119.110001   24420800
9     2017-01-09  117.949997  119.430000  117.940002  118.989998   33387600
10    2017-01-06  116.779999  118.160004  116.470001  117.910004   31577900
11    2017-01-05  115.919998  116.860001  115.809998  116.610001   22103700
12    2017-01-04  115.849998  116.510002  115.750000  116.019997   20858700
13    2017-01-03  115.800003  116.330002  114.760002  116.150002   28509500
14    2016-12-30  116.650002  117.199997  115.430000  115.820000   30253100
15    2016-12-29  116.449997  117.110001  116.400002  116.730003   14963300
16    2016-12-28  117.519997  118.019997  116.199997  116.760002   20582000
17    2016-12-27  116.519997  117.800003  116.489998  117.260002   18071900
18    2016-12-23  115.589996  116.519997  115.589996  116.519997   14181200
19    2016-12-22  116.349998  116.510002  115.639999  116.290001   25789800
20    2016-12-21  116.800003  117.400002  116.779999  117.059998   24216900
21    2016-12-20  116.739998  117.500000  116.680000  116.949997   20905800
22    2016-12-19  115.800003  117.379997  115.750000  116.639999   27675400
23    2016-12-16  116.470001  116.500000  115.650002  115.970001   44055400
24    2016-12-15  115.379997  116.730003  115.230003  115.820000   46232200
25    2016-12-14  115.040001  116.199997  114.980003  115.190002   33433200
26    2016-12-13  113.839996  115.919998  113.750000  115.190002   43167500
27    2016-12-12  113.290001  115.000000  112.489998  113.300003   26149100
28    2016-12-09  112.309998  114.699997  112.309998  113.949997   34274100
29    2016-12-08  110.860001  112.430000  110.599998  112.120003   26818500
...          ...         ...         ...         ...         ...        ...
1227  2012-03-07  536.800003  537.779999  523.299988  530.690010  199630200
1228  2012-03-06  523.659996  533.690025  516.219986  530.259987  202559700
1229  2012-03-05  545.420013  547.479980  526.000023  533.160027  202281100
1230  2012-03-02  544.240013  546.800018  542.519974  545.180008  107928100
1231  2012-03-01  548.169983  548.209984  538.769981  544.469978  170817500
1232  2012-02-29  541.560005  547.610023  535.700005  542.440025  238002800
1233  2012-02-28  527.960014  535.410011  525.850006  535.410011  150096800
1234  2012-02-27  521.309982  528.500000  516.280014  525.760017  136895500
1235  2012-02-24  519.669998  522.899979  518.640015  522.409981  103768000
1236  2012-02-23  515.079987  517.830009  509.499992  516.389977  142006900
1237  2012-02-22  513.079994  515.489983  509.070023  513.039993  120825600
1238  2012-02-21  506.880013  514.850021  504.120003  514.850021  151398800
1239  2012-02-17  503.109993  507.770020  500.299995  502.120010  133951300
1240  2012-02-16  491.500008  504.890007  486.629990  502.209999  236138000
1241  2012-02-15  514.259995  526.290016  496.889984  497.669975  376530000
1242  2012-02-14  504.659988  509.560020  502.000008  509.459991  115099600
1243  2012-02-13  499.529991  503.830009  497.089989  502.600021  129304000
1244  2012-02-10  490.960022  497.619987  488.549980  493.419998  157825500
1245  2012-02-09  480.760002  496.750008  480.559998  493.170006  221053700
1246  2012-02-08  470.500008  476.789978  469.699989  476.680016  101972500
1247  2012-02-07  465.250008  469.749977  464.579979  468.830009   79055900
1248  2012-02-06  458.379997  464.979988  458.200020  463.969978   62353200
1249  2012-02-03  457.300026  460.000008  455.560013  459.680000   71649900
1250  2012-02-02  455.899994  457.169983  453.980003  455.120003   46699100
1251  2012-02-01  458.410011  458.989998  455.550026  456.189987   67511500
1252  2012-01-31  455.589973  458.240021  453.070023  456.479980   97920900
1253  2012-01-30  445.709988  453.900002  445.390007  453.009995   94835300
1254  2012-01-27  444.339996  448.480011  443.769997  447.280010   74927300
1255  2012-01-26  448.360008  448.789978  443.139996  444.629990   80996300
1256  2012-01-25  454.439987  454.449974  443.729996  446.659996  239578500

       Adj Close
0     120.080002
1     120.000000
2     119.779999
3     119.989998
4     120.000000
5     119.040001
6     119.250000
7     119.750000
8     119.110001
9     118.989998
10    117.910004
11    116.610001
12    116.019997
13    116.150002
14    115.820000
15    116.730003
16    116.760002
17    117.260002
18    116.519997
19    116.290001
20    117.059998
21    116.949997
22    116.639999
23    115.970001
24    115.820000
25    115.190002
26    115.190002
27    113.300003
28    113.949997
29    112.120003
...          ...
1227   69.054056
1228   68.998100
1229   69.375457
1230   70.939512
1231   70.847122
1232   70.582982
1233   69.668228
1234   68.412559
1235   67.976648
1236   67.193317
1237   66.757413
1238   66.992936
1239   65.336491
1240   65.348200
1241   64.757447
1242   66.291579
1243   65.398951
1244   64.204434
1245   64.171905
1246   62.026207
1247   61.004754
1248   60.372361
1249   59.814143
1250   59.220791
1251   59.360018
1252   59.397753
1253   58.946234
1254   58.200641
1255   57.855817
1256   58.119964

[1257 rows x 7 columns]

In [9]:
print(df1.head())

         Date        Open        High         Low       Close    Volume  \
0  2017-01-23  120.000000  120.809998  119.769997  120.080002  21131400
1  2017-01-20  120.449997  120.449997  119.730003  120.000000  29479900
2  2017-01-19  119.400002  120.089996  119.370003  119.779999  25295700
3  2017-01-18  120.000000  120.500000  119.709999  119.989998  23644700
4  2017-01-17  118.339996  120.239998  118.220001  120.000000  34078600

    Adj Close
0  120.080002
1  120.000000
2  119.779999
3  119.989998
4  120.000000

In [10]:
print(df1[10:20])

          Date        Open        High         Low       Close    Volume  \
10  2017-01-06  116.779999  118.160004  116.470001  117.910004  31577900
11  2017-01-05  115.919998  116.860001  115.809998  116.610001  22103700
12  2017-01-04  115.849998  116.510002  115.750000  116.019997  20858700
13  2017-01-03  115.800003  116.330002  114.760002  116.150002  28509500
14  2016-12-30  116.650002  117.199997  115.430000  115.820000  30253100
15  2016-12-29  116.449997  117.110001  116.400002  116.730003  14963300
16  2016-12-28  117.519997  118.019997  116.199997  116.760002  20582000
17  2016-12-27  116.519997  117.800003  116.489998  117.260002  18071900
18  2016-12-23  115.589996  116.519997  115.589996  116.519997  14181200
19  2016-12-22  116.349998  116.510002  115.639999  116.290001  25789800

     Adj Close
10  117.910004
11  116.610001
12  116.019997
13  116.150002
14  115.820000
15  116.730003
16  116.760002
17  117.260002
18  116.519997
19  116.290001

In [12]:
df2=pd.read_csv("IBM.csv")
print(df2)

            Date        Open        High         Low       Close    Volume  \
0     2017-01-23  170.080002  171.250000  170.009995  171.029999   5327300
1     2017-01-20  167.809998  170.639999  166.000000  170.550003  12495100
2     2017-01-19  166.960007  167.449997  165.800003  166.809998   5733000
3     2017-01-18  167.449997  168.589996  166.690002  166.800003   3979900
4     2017-01-17  166.690002  168.179993  166.119995  167.889999   3302900
5     2017-01-13  167.970001  168.479996  166.880005  167.339996   2872600
6     2017-01-12  167.770004  168.009995  165.559998  167.949997   2927500
7     2017-01-11  166.050003  167.759995  165.600006  167.750000   3585800
8     2017-01-10  167.979996  168.089996  165.339996  165.520004   4097100
9     2017-01-09  169.470001  169.800003  167.619995  167.649994   3184700
10    2017-01-06  168.690002  169.919998  167.520004  169.529999   2814900
11    2017-01-05  169.250000  169.389999  167.259995  168.699997   2681000
12    2017-01-04  167.770004  169.869995  167.360001  169.259995   3357000
13    2017-01-03  167.000000  167.869995  166.009995  167.190002   2927900
14    2016-12-30  166.440002  166.699997  165.500000  165.990005   2951300
15    2016-12-29  166.020004  166.990005  166.000000  166.600006   1594000
16    2016-12-28  167.289993  167.740005  166.000000  166.190002   1721800
17    2016-12-27  166.979996  167.979996  166.850006  167.139999   1396000
18    2016-12-23  167.000000  167.490005  166.449997  166.710007   1699200
19    2016-12-22  167.360001  168.229996  166.580002  167.059998   2778900
20    2016-12-21  166.250000  167.940002  165.250000  167.330002   3568400
21    2016-12-20  167.490005  168.250000  166.449997  167.600006   2170400
22    2016-12-19  166.830002  167.259995  166.000000  166.679993   2855700
23    2016-12-16  168.970001  169.110001  166.059998  166.729996   6679200
24    2016-12-15  168.009995  169.850006  167.779999  168.020004   3363200
25    2016-12-14  168.369995  169.889999  167.449997  168.509995   3957600
26    2016-12-13  165.679993  169.949997  165.679993  168.289993   5838700
27    2016-12-12  166.720001  166.789993  165.070007  165.500000   3389200
28    2016-12-09  165.179993  166.720001  164.600006  166.520004   3143900
29    2016-12-08  164.869995  166.000000  164.220001  165.360001   3259700
...          ...         ...         ...         ...         ...       ...
1227  2012-03-07  198.089996  198.570007  197.309998  197.770004   3346900
1228  2012-03-06  199.139999  199.639999  196.809998  197.259995   5214700
1229  2012-03-05  198.360001  201.190002  198.300003  200.660004   6938000
1230  2012-03-02  197.100006  198.889999  197.059998  198.809998   3727400
1231  2012-03-01  197.229996  198.470001  196.929993  197.529999   3560300
1232  2012-02-29  197.860001  199.169998  196.449997  196.729996   5117100
1233  2012-02-28  197.750000  198.960007  197.429993  197.979996   3167400
1234  2012-02-27  196.779999  198.710007  196.100006  197.529999   3758400
1235  2012-02-24  198.380005  198.559998  196.610001  197.759995   3353200
1236  2012-02-23  193.869995  199.229996  193.279999  197.610001   8032700
1237  2012-02-22  193.029999  194.740005  192.750000  193.869995   3275800
1238  2012-02-21  193.729996  194.240005  192.460007  193.389999   3293600
1239  2012-02-17  193.710007  193.860001  192.300003  193.419998   3746500
1240  2012-02-16  192.610001  193.250000  192.000000  193.020004   3525500
1241  2012-02-15  192.309998  193.440002  191.259995  192.250000   4020900
1242  2012-02-14  191.759995  192.600006  190.830002  192.220001   3398100
1243  2012-02-13  193.309998  193.690002  191.740005  192.619995   2458800
1244  2012-02-10  191.759995  192.429993  191.279999  192.419998   3391100
1245  2012-02-09  193.029999  194.460007  192.550003  193.130005   3876400
1246  2012-02-08  192.779999  193.580002  191.729996  192.949997   3803800
1247  2012-02-07  192.449997  194.139999  191.970001  193.350006   3433000
1248  2012-02-06  192.479996  193.759995  192.000000  192.820007   3639800
1249  2012-02-03  192.929993  194.130005  192.539993  193.639999   4521700
1250  2012-02-02  192.720001  193.330002  191.330002  191.529999   3907300
1251  2012-02-01  193.210007  194.809998  192.410004  192.619995   5088800
1252  2012-01-31  193.089996  193.100006  191.000000  192.600006   4826800
1253  2012-01-30  189.389999  192.729996  188.220001  192.500000   4359000
1254  2012-01-27  190.009995  191.770004  189.809998  190.460007   3360400
1255  2012-01-26  191.789993  192.789993  190.470001  190.979996   4004700
1256  2012-01-25  191.330002  192.240005  189.610001  191.729996   4359700

       Adj Close
0     171.029999
1     170.550003
2     166.809998
3     166.800003
4     167.889999
5     167.339996
6     167.949997
7     167.750000
8     165.520004
9     167.649994
10    169.529999
11    168.699997
12    169.259995
13    167.190002
14    165.990005
15    166.600006
16    166.190002
17    167.139999
18    166.710007
19    167.059998
20    167.330002
21    167.600006
22    166.679993
23    166.729996
24    168.020004
25    168.509995
26    168.289993
27    165.500000
28    166.520004
29    165.360001
...          ...
1227  174.435814
1228  173.985978
1229  176.984832
1230  175.353102
1231  174.224126
1232  173.518512
1233  174.621029
1234  174.224126
1235  174.426985
1236  174.294688
1237  170.995953
1238  170.572590
1239  170.599050
1240  170.246249
1241  169.567095
1242  169.540636
1243  169.893436
1244  169.717036
1245  170.343272
1246  170.184502
1247  169.875806
1248  169.410153
1249  170.130592
1250  168.276762
1251  169.234424
1252  169.216862
1253  169.128997
1254  167.336675
1255  167.793533
1256  168.452477

[1257 rows x 7 columns]

In [14]:
max

<bound method Series.max of 0       120.809998
1       120.449997
2       120.089996
3       120.500000
4       120.239998
5       119.620003
6       119.300003
7       119.930000
8       119.379997
9       119.430000
10      118.160004
11      116.860001
12      116.510002
13      116.330002
14      117.199997
15      117.110001
16      118.019997
17      117.800003
18      116.519997
19      116.510002
20      117.400002
21      117.500000
22      117.379997
23      116.500000
24      116.730003
25      116.199997
26      115.919998
27      115.000000
28      114.699997
29      112.430000
           ...
1227    537.779999
1228    533.690025
1229    547.479980
1230    546.800018
1231    548.209984
1232    547.610023
1233    535.410011
1234    528.500000
1235    522.899979
1236    517.830009
1237    515.489983
1238    514.850021
1239    507.770020
1240    504.890007
1241    526.290016
1242    509.560020
1243    503.830009
1244    497.619987
1245    496.750008
1246    476.789978
1247    469.749977
1248    464.979988
1249    460.000008
1250    457.169983
1251    458.989998
1252    458.240021
1253    453.900002
1254    448.480011
1255    448.789978
1256    454.449974
Name: High, dtype: float64>

In [28]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime as dt

In [33]:
x=dt.datetime(df['Date'])
y=df['Adj Close']
plt.plot(x,y)

NameError: name 'dt' is not defined